.cryptor-btn {
    cursor: pointer;
    display: inline-block;
    outline: none!important;
    opacity: .71;
    height: 16px;
    width: 16px;
    top: 50%;
    margin-top: -10px; 
    border: 1px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 201;
    position: absolute;
    transition: opacity .218s ease-in;
    right: 0px;
    background-size: 24px 24px;
}

.eye-btn {
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
    right: 0px;
    z-index: 202;
    position: absolute;
}

.password {
    white-space: nowrap;
    opacity: .71;
    height: 22px;
    width: 160px;
    border: 1px solid;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 201;
    position: absolute;
    transition: opacity .218s ease-in;
    overflow: hidden;
}

.password-container {
    position: absolute;
    z-index: 201;
    right: 26px;
    height: 24px;
    width: 160px;
}

[contenteditable="true"].password br {
    display:none;

}
[contenteditable="true"].password * {
    display:inline;
    white-space:nowrap;
}

.btn-overlay {
    cursor: pointer;
    display: inline-block;
    outline: none!important;
    top: 16px;
    right: 45px;
    height: 24px;
    width: 200px;
    z-index: 201;
    position: absolute;
}

.create-field{
    top: 10px;
}

.note-overlay {
    border-style: dotted;
    border-width: 2px;
    margin: 5px;
}

.icon {
    width: 20px;
    height: 5px;
}